h1, h2, span{
    color: red;
}
div p {
    font-weight: 600;
}
ul lispan {
    font-weight: 600;
}
ol li + li {
    list-style: none;
}
h3 ~ h4 {
    color: aqua;
}

#block1 {
    background-color: lime; /* зелений колір */
    width: 150px;
    height: 150px;
}

#block2 {
    background-color: cyan; /* основний колір */
    border-radius: 50px;
    width: 150px;
    height: 150px;
}

/* 2. Стиль для блоків з класом block_border */
.block_border {
    border: 4px solid blue;
    background-color: cyan; /* основний колір */
    width: 150px;
    height: 150px;
}
/*
#block1 {
    background-color: lime;
}

#block2 {
    border-radius: 50px;
}

.block_border {
    border: 4px solid blue;
} 
*/
