body{
    background-color:#00FFFF;
}
button{
    width: 55px;
}
h1{
    color:#00000
}
p{
    font-size: 35pt;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid blue ;
}
